@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.flex {
  display: flex;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

/* Home Page */
.hero-part {
  height: 50vh;
  background-color: var(--primary-bg-color);
  position: relative;
  z-index: -1;
}

.hero-bg {
  width: 100%;
  height: 100%;
  mix-blend-mode: soft-light;
  position: absolute;
  z-index: 0;
}

.hero-part > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
}

.hero-part > div img {
  mix-blend-mode: luminosity;
  scale: 1.1;
}

.LeftImg {
  position: relative;
  bottom: -9rem;
}

.hero-text {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hero-text h1 {
  font-size: 3rem;
}

.hero-text h3 {
  font-size: 2rem;
}

.hero-text button {
  font-size: 1.5rem;
  padding: 7px 35px;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  font-weight: 500;
}

hr {
  width: 75vh;
  border: 0.15rem var(--primary-bg-color) solid;
}

.left-hr {
  margin-left: 11%;
}

.right-hr {
  margin-left: 53%;
}

/*LOGIN PAGE AND SIGNUP PAGE CSS*/

.Login-page {
  /* background: whitesmoke; */
  background-image: url("./assets/loginbg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100vh;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
}

.Login-page h1 {
  font-weight: bold;
  margin: 0;
}

.Login-page h2 {
  text-align: center;
}

.Login-page p {
  font-size: 2vh;
}

.Login-page span {
  font-size: 1.5vh;
}

.Login-page a {
  color: #333;
  font-size: 2vh;
  text-decoration: none;
  margin: 2vh 0;
}

.Login-page button {
  border-radius: 20px;
  border: 1px solid white;
  background-color: #5603ad;
  color: #ffffff;
  font-size: 1.5vh;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 8px;
}

.Login-page input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.Login-container {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  width: 100vh;
}

.Login-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0 50px;
  height: 100%;
  width: 50vh;
  text-align: center;
}

.above {
  /* background: #5603AD; */
  background-color: rgba(86, 3, 173, 0.85);
  backdrop-filter: blur(3px);
  color: #ffffff;
  width: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 0 10px 10px 0;
}
.above p {
  margin: 3vh;
}

.google {
  margin: 20px 0;
}

.google a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

/* Contact us Page  */

.Contactus-container {
  /* position: absolute; */
  display: flex;
  /* justify-content: space-around; */
  margin: 0 20vh 0 20vh;
  justify-content: center;
  position: absolute;
  top: 40%;
}

/* Error Page */

.error-container {
  margin-top: 10vh;
  text-align: center;
  margin-inline: auto;
  width: 90%;
  color: black;
}
.error-container h1,
h4 {
  font-weight: 400;
  padding: 2vh;
}
.error404 {
  color: var(--primary-bg-color);
  font-size: min(900%, 30vh);
  font-weight: bolder;
  text-align: center;
}

/* Aboutus Page */

.Aboutus-container {
  background-color: var(--primary-bg-color);
  height: 20vh;
  margin: 0 0 0 0;
}
.Aboutus-container h1 {
  color: white;
  font-size: 6vh;
  text-align: left;
  margin: 0 0 0 10vh;
}
.Aboutus-team {
  background-color: var(--primary-bg-color);
  width: 100%;
  height: 110vh;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
